html,
body {
	margin: 0;
	paddding: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

@font-face {
	font-family: "Poppins";
	url: ("https://fonts.googleapis.com/css?family=Poppins:300");
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
